streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
chromadb
pypdf
docx2txt
sentence-transformers
python-dotenv
dashscope
tiktoken
