streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
chromadb==0.5.0
numpy==1.26.4
pypdf
docx2txt
sentence-transformers
python-dotenv
dashscope
tiktoken
